<div class="row-fl jcsb documents-buttons {{class}}">
    <a href="" class="button button--doc button--hover-yellow">
        <svg><use xlink:href="/images/sprite.svg#pdf"></use></svg>
        <div>Правила посещения</div>
    </a>
    <a href="" class="button button--doc button--hover-yellow">
        <svg><use xlink:href="/images/sprite.svg#pdf"></use></svg>
        <div>анкета до 18 лет</div>
    </a>
    <a href="" class="button button--doc button--hover-yellow">
        <svg><use xlink:href="/images/sprite.svg#pdf"></use></svg>
        <div>анкета 18+</div>
    </a>
    <a href="" class="button button--doc button--hover-yellow">
        <svg><use xlink:href="/images/sprite.svg#pdf"></use></svg>
        <div>договор</div>
    </a>
    <a href="" class="button button--doc button--hover-yellow">
        <svg><use xlink:href="/images/sprite.svg#pdf"></use></svg>
        <div>согласие
            <span>на обработку<br>персональных данных</span>
        </div>
    </a>
</div>