<div class="tabs parent-tabs">
    <ul class="tabs-menu row-fl jcsb">
        <li class="tabs-menu__item" data-tab="tab_1">РАЗОВОЕ ПОСЕЩЕНИЕ</li>
        <li class="tabs-menu__item" data-tab="tab_2">занятия  с тренером</li>
        <li class="tabs-menu__item" data-tab="tab_3">праздники и мероприятия</li>
        <li class="tabs-menu__item active" data-tab="tab_4">абонементы</li>
        <li class="tabs-menu__item" data-tab="tab_5">товары и доп. услуги</li>
    </ul>
    <!--Разовое посещение-->
    <div id="tab_1" class="tabs__item">                        
        <div class="tabs child-tabs">
            <ul class="tabs-menu row-fl">
                <li class="tabs-menu__item active" data-tab="ctab_1">батутная арена</li>
                <li class="tabs-menu__item" data-tab="ctab_2">батутная+детская зона</li>
                <li class="tabs-menu__item" data-tab="ctab_3">детская зона</li>
                <li class="tabs-menu__item" data-tab="ctab_4">абонементы</li>                                
            </ul>
            <div id="ctab_1" class="tabs__item active">
                <div class="price">
                    <div class="price__row price__row--head">
                        <div class="price__col">день</div>
                        <div class="price__col">1 час</div>
                        <div class="price__col">2 часа</div>
                        <div class="price__col">3 часа</div>
                        <div class="price__col">безлимит</div>
                    </div>
                    <div class="price__row">
                        <div class="price__col price__col--head">будний</div>
                        <div class="price__col price__col--pr">400 ₽</div>
                        <div class="price__col price__col--pr"></div>
                        <div class="price__col price__col--pr"></div>
                        <div class="price__col price__col--pr">500 ₽</div>
                    </div>
                    <div class="price__row">
                        <div class="price__col price__col--head">выходной</div>
                        <div class="price__col price__col--pr">400 ₽</div>
                        <div class="price__col price__col--pr">500 ₽
                            <a href="" class="button button--hover-blue price__buy">Оплатить</a>
                        </div>
                        <div class="price__col price__col--pr">600 ₽</div>
                        <div class="price__col price__col--pr">700 ₽</div>
                    </div>
                </div>
                <div class="price__foot">
                    <div class="price__foot__txt">В кассе батутного центра Вы можете приобрести подарочные сертификаты на любую сумму</div>
                    <a href="" class="button button--hover-opacity">Подробнее</a>
                </div>
            </div>
            <div id="ctab_2" class="tabs__item">2</div>
            <div id="ctab_3" class="tabs__item">3</div>
            <div id="ctab_4" class="tabs__item">4</div>
        </div>
    </div>
    <!--Занятия с тренером-->
    <div id="tab_2" class="tabs__item">                        
        <div class="tabs child-tabs">
            <ul class="tabs-menu row-fl">
                <li class="tabs-menu__item active" data-tab="ptab_1">групповые</li>
                <li class="tabs-menu__item" data-tab="ptab_2">персональные</li>                                                                
            </ul>
            <div id="ptab_1" class="tabs__item active">
                <div class="price">
                    <div class="price__row price__row--head">
                        <div class="price__col">день</div>
                        <div class="price__col price__col--colspan">
                            <span>Продолжительность занятия с тренером — 1 час</span>
                        </div>                                        
                    </div>
                    <div class="price__row">
                        <div class="price__col price__col--head">будний</div>
                        <div class="price__col price__col--pr">
                            <div class="price-withdescr row-fl aic">
                                <span>650 ₽</span>
                                <div class="price-withdescr__txt">прыжки после занятия <b>не включены</b> в стоимость</div>
                                <a href="" class="button button--hover-blue price__buy">Оплатить</a>
                            </div>                                            
                        </div>                                        
                        <div class="price__col price__col--pr">
                            <div class="price-withdescr row-fl aic">
                                <span>750 ₽</span>
                                <div class="price-withdescr__txt"><b>1 час</b> тренировки + <b>безлимитные</b> прыжки после</div>
                            </div> 
                        </div>                                        
                    </div>
                    <div class="price__row">
                        <div class="price__col price__col--head">выходной</div>
                        <div class="price__col price__col--pr">
                            <div class="price-withdescr row-fl aic">
                                <span>650 ₽</span>
                                <div class="price-withdescr__txt">прыжки после занятия <b>не включены</b> в стоимость</div>
                            </div>                                            
                        </div>                                        
                        <div class="price__col price__col--pr">
                            <div class="price-withdescr row-fl aic">
                                <span>750 ₽</span>
                                <div class="price-withdescr__txt"><b>1 час</b> тренировки + <b>безлимитные</b> прыжки после</div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
            <div id="ptab_2" class="tabs__item">2</div>                            
        </div>

    </div>
    <!--Праздники и мероприятия-->
    <div id="tab_3" class="tabs__item">                        
        <div class="price">
            <div class="price__row price__row--head">
                <div class="price__col"></div>
                <div class="price__col">1 тренер на 1 час</div>
                <div class="price__col">1 тренер на 2 часа</div>
                <div class="price__col">2 тренера на 1 час</div>                                        
            </div>
            <div class="price__row">
                <div class="price__col">
                    <div class="holiday-col">
                        <div class="holiday-col__title">Тренер / Аниматор
                            <span class="holiday-col__label">3+</span>
                        </div>
                        <div class="holiday-col__txt">На День рождения, Праздник, Корпоратив, Выпускной, Квест</div>
                        <a href="" class="button button--hover-blue holiday-col__button">выбрать героя</a>
                    </div>
                </div>
                <div class="price__col price__col--pr">2 000 ₽
                    <a href="" class="button button--hover-blue price__buy">Оплатить</a>
                </div>                                        
                <div class="price__col price__col--pr">4 000 ₽</div>
                <div class="price__col price__col--pr">4 000 ₽</div>                                        
            </div>
            <div class="price__row">
                <div class="price__col">
                    <div class="holiday-col">
                        <div class="holiday-col__title">Игра в Кальмара
                            <span class="holiday-col__label">8+</span>
                        </div>
                        <div class="holiday-col__txt">Подходит на любой праздник взрослым и детям</div>
                        <a href="" class="button button--hover-blue holiday-col__button">подробнее</a>
                    </div>
                </div>
                <div class="price__col price__col--pr">3 000 ₽</div>                                        
                <div class="price__col price__col--pr">6 000 ₽</div>
                <div class="price__col price__col--pr">6 000 ₽</div> 
            </div>
        </div>
    </div>
    <!--Абонемент-->
    <div id="tab_4" class="tabs__item active">
        <div class="tabs child-tabs">
            <ul class="tabs-menu row-fl">
                <li class="tabs-menu__item active" data-tab="ktab_1">посещения</li>
                <li class="tabs-menu__item" data-tab="ktab_2">занятия и тренировки</li>                                                               
            </ul>
            <div id="ktab_1" class="tabs__item active">
                <div class="price">
                    <div class="price__row price__row--head">
                        <div class="price__col"></div>
                        <div class="price__col">день</div>
                        <div class="price__col">продолжительность</div>
                        <div class="price__col">Стоимость</div>
                        <div class="price__col">Оплата</div>                                        
                    </div>
                    <div class="price__row price__row--border">
                        <div class="price__col price__col--head price__col--rowspan">
                            <span>15 посещений батутной арены</span>
                        </div>
                        <div class="price__col price__col--txt1">любой день</div>
                        <div class="price__col price__col--txt2">1 час</div>
                        <div class="price__col price__col--valign price__col--pr"><span>4 500 ₽</span></div>
                        <div class="price__col price__col--head">
                            <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                        </div>                                        
                    </div>
                    <div class="price__row price__row--border">
                        <div class="price__col">                          
                        </div>
                        <div class="price__col price__col--txt1">будний<br>выходной</div>
                        <div class="price__col price__col--txt2">безлимит<br>2 часа</div>
                        <div class="price__col price__col--valign price__col--pr"><span>6 000 ₽</span></div>
                        <div class="price__col price__col--head">
                            <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                        </div>                                        
                    </div>
                    <div class="price__row price__row--border">
                        <div class="price__col price__col--head price__col--rowspan">
                            <span>15 посещений батутной арены и детской зоны</span>
                        </div>
                        <div class="price__col price__col--txt1">любой день</div>
                        <div class="price__col price__col--txt2">1 час</div>
                        <div class="price__col price__col--valign price__col--pr"><span>6 000 ₽</span></div>
                        <div class="price__col price__col--head">
                            <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                        </div>                                        
                    </div>
                    <div class="price__row price__row--border">
                        <div class="price__col">                          
                        </div>
                        <div class="price__col price__col--txt1">будний<br>выходной</div>
                        <div class="price__col price__col--txt2">безлимит<br>2 часа</div>
                        <div class="price__col price__col--valign price__col--pr"><span>7 500 ₽</span></div>
                        <div class="price__col price__col--head">
                            <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                        </div>                                        
                    </div>
                </div>
            </div>
            <div id="ktab_2" class="tabs__item">2</div>                            
        </div>
    </div>
    <!--Товары-->
    <div id="tab_5" class="tabs__item">
        <div class="tabs child-tabs">
            <ul class="tabs-menu row-fl">
                <li class="tabs-menu__item" data-tab="ftab_1">товары</li>
                <li class="tabs-menu__item active" data-tab="ftab_2">занятия и тренировки</li>                                                               
            </ul>
            <div id="ftab_1" class="tabs__item">
                <div class="price">
                    <div class="price__row">
                        <div class="price__col price__col--img">
                            <div class="price__img">
                                <img class="fit-cover" src="img/product.png" alt="">
                            </div>
                        </div>
                        <div class="price__col price__col--head">Носки для прыжков на батуте</div>
                        <div class="price__col price__col--pr">250 ₽
                            <a href="" class="button button--hover-blue price__buy">Оплатить</a>
                        </div>                                        
                    </div>
                    <div class="price__row">
                        <div class="price__col price__col--img">
                            <div class="price__img">
                                <img class="fit-cover" src="img/product.png" alt="">
                            </div>
                        </div>
                        <div class="price__col price__col--head">Носки для прыжков на батуте</div>
                        <div class="price__col price__col--pr">250 ₽</div>                                        
                    </div>
                    <div class="price__row">
                        <div class="price__col price__col--img">
                            <div class="price__img">
                                <img class="fit-cover" src="img/product.png" alt="">
                            </div>
                        </div>
                        <div class="price__col price__col--head">Носки для прыжков на батуте</div>
                        <div class="price__col price__col--pr">250 ₽</div>                                        
                    </div>
                    <div class="price__row">
                        <div class="price__col price__col--img">
                            <div class="price__img">
                                <img class="fit-cover" src="img/product.png" alt="">
                            </div>
                        </div>
                        <div class="price__col price__col--head">Носки для прыжков на батуте</div>
                        <div class="price__col price__col--pr">250 ₽</div>                                        
                    </div>
                </div>
            </div>
            <div id="ftab_2" class="tabs__item active">
                <div class="price">
                    <div class="price__row">                                        
                        <div class="price__col price__col--head">Аренда Комнаты для Праздника
                            <div class="price__descr">Бронируется не менее чем за день до начала мероприятия.</div>
                        </div>
                        <div class="price__col price__col--pr">1 000 ₽</div>                                        
                    </div>
                    <div class="price__row">                                        
                        <div class="price__col price__col--head">Шоу фокусника 
                            <span class="price__dop">(25-35 мин.)</span>
                        </div>
                        <div class="price__col price__col--pr">1 000 ₽
                            <a href="" class="button button--hover-blue price__buy">Оплатить</a>
                        </div>                                        
                    </div>
                    <div class="price__row">                                        
                        <div class="price__col price__col--head">Шоу мыльных пузырей
                            <span class="price__dop">(25-35 мин.)</span>
                        </div>
                        <div class="price__col price__col--pr">1 000 ₽</div>                                        
                    </div>
                    <div class="price__row">                                        
                        <div class="price__col price__col--head">Тесла шоу  
                            <span class="price__dop">(25-35 мин.)</span>
                        </div>
                        <div class="price__col price__col--pr">1 000 ₽</div>                                        
                    </div>
                    <div class="price__row">                                        
                        <div class="price__col price__col--head">Бумажное шоу  
                            <span class="price__dop">(25-35 мин.)</span>
                        </div>
                        <div class="price__col price__col--pr">1 000 ₽</div>                                        
                    </div>
                    <div class="price__row">                                        
                        <div class="price__col price__col--head">Научное шоу  
                            <span class="price__dop">(25-35 мин.)</span>
                        </div>
                        <div class="price__col price__col--pr">1 000 ₽</div>                                        
                    </div>
                </div>
            </div>                            
        </div>
    </div>
</div>