<div class="tabs parent-tabs">
    <ul class="tabs-menu row-fl jcsb">
        <li class="tabs-menu__item" data-tab="tab_1">РАЗОВОЕ ПОСЕЩЕНИЕ</li>
        <li class="tabs-menu__item" data-tab="tab_2">занятия с тренером</li>
        <li class="tabs-menu__item" data-tab="tab_3">праздники и мероприятия</li>
        <li class="tabs-menu__item active" data-tab="tab_4">абонементы</li>
        <li class="tabs-menu__item" data-tab="tab_5">товары и доп. услуги</li>
    </ul>
    <div class="parent-tabs__cnt">
        <!--Разовое посещение-->
        <div id="tab_1" class="tabs__item">
            <div class="tabs child-tabs">
                <ul class="tabs-menu row-fl">
                    <li class="tabs-menu__item active" data-tab="svp_1">батутная
                        арена
                    </li>
                    <li class="tabs-menu__item" data-tab="svp_2">батутная+детская
                        зона
                    </li>
                    <li class="tabs-menu__item" data-tab="svp_3">детская зона</li>
                </ul>
                <div class="child-tabs__cnt">
                    <div id="svp_1" class="tabs__item active">
                        <div class="price price--1">
                            <div class="price__row price__row--head">
                                <div class="price__col">День</div>
                                <div class="price__col">1 час</div>
                                <div class="price__col">2 часа</div>
                                <div class="price__col">3 часа</div>
                                <div class="price__col">Безлимит</div>
                            </div>
                            <div class="price__row">
                                <div class="price__col price__col--head">Будний</div>
                                <div class="price__col price__col--pr">400 ₽</div>
                                <div
                                    class="price__col price__col--pr"></div>
                                <div class="price__col price__col--pr"></div>
                                <div class="price__col price__col--pr">600 ₽</div>
                            </div>
                            <div class="price__row price__row--head">
                                <div class="price__col">День</div>
                                <div class="price__col">1 час</div>
                                <div class="price__col">2 часа</div>
                                <div class="price__col">3 часа</div>
                                <div class="price__col">Безлимит</div>
                            </div>
                            <div class="price__row">
                                <div class="price__col price__col--head">Выходной</div>
                                <div class="price__col price__col--pr">400 ₽
                                    <a href="#" class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                </div>
                                <div
                                    class="price__col price__col--pr">600 ₽</div>
                                <div
                                    class="price__col price__col--pr">700 ₽</div>
                                <div
                                    class="price__col price__col--pr">900 ₽</div>
                            </div>
                        </div>
                        <div
                            class="price__foot">
                            <div class="price__foot__txt">В кассе батутного
                                центра вы можете приобрести подарочные
                                сертификаты на любой тариф и в любом количестве.
                            </div>
                        </div>
                    </div>
                    <div id="svp_2" class="tabs__item">
                        <div class="price price--1">
                            <div class="price__row price__row--head">
                                <div class="price__col">День</div>
                                <div class="price__col">1 час</div>
                                <div class="price__col">2 часа</div>
                                <div class="price__col">3 часа</div>
                                <div class="price__col">Безлимит</div>
                            </div>
                            <div class="price__row">
                                <div class="price__col price__col--head">Будний</div>
                                <div class="price__col price__col--pr">500 ₽</div>
                                <div
                                    class="price__col price__col--pr"></div>
                                <div class="price__col price__col--pr"></div>
                                <div class="price__col price__col--pr">700 ₽</div>
                            </div>
                            <div class="price__row price__row--head">
                                <div class="price__col">День</div>
                                <div class="price__col">1 час</div>
                                <div class="price__col">2 часа</div>
                                <div class="price__col">3 часа</div>
                                <div class="price__col">Безлимит</div>
                            </div>
                            <div
                                class="price__row">
                                <div class="price__col price__col--head">Выходной</div>
                                <div class="price__col price__col--pr">500 ₽</div>
                                <div
                                    class="price__col price__col--pr">700 ₽</div>
                                <div
                                    class="price__col price__col--pr">800 ₽</div>
                                <div
                                    class="price__col price__col--pr">1000 ₽</div>
                            </div>
                        </div>
                        <div
                            class="price__foot">
                            <div class="price__foot__txt">В кассе батутного
                                центра вы можете приобрести подарочные
                                сертификаты на любой тариф и в любом количестве.
                            </div>
                        </div>
                    </div>
                    <div id="svp_3" class="tabs__item">
                        <div class="price price--1">
                            <div class="price__row price__row--head">
                                <div class="price__col">День</div>
                                <div class="price__col">2 часа</div>
                                <div class="price__col">Безлимит</div>
                            </div>
                            <div class="price__row">
                                <div class="price__col price__col--head">Будний</div>
                                <div class="price__col price__col--pr"></div>
                                <div class="price__col price__col--pr">250 ₽</div>
                            </div>
                            <div class="price__row price__row--head">
                                <div class="price__col">День</div>
                                <div class="price__col">2 часа</div>
                                <div class="price__col">Безлимит</div>
                            </div>
                            <div class="price__row">
                                <div class="price__col price__col--head">Выходной</div>
                                <div class="price__col price__col--pr">250 ₽</div>
                                <div
                                    class="price__col price__col--pr"></div>
                            </div>
                        </div>
                        <div class="price__foot">
                            <div class="price__foot__txt">В кассе батутного
                                центра вы можете приобрести подарочные
                                сертификаты на любой тариф и в любом количестве.
                            </div>
                            <a href="ссылка..." class="button
                                button--hover-opacity">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Занятия с тренером-->
        <div id="tab_2" class="tabs__item">
            <div class="tabs child-tabs">
                <ul
                    class="tabs-menu row-fl jcsb">
                    <li class="tabs-menu__item tabs-menu__item--row"
                        data-tab="cwtp_1">Групповые</li>
                    <li class="tabs-menu__item tabs-menu__item--row active"
                        data-tab="cwtp_2">Персональные</li>
                </ul>
                <div id="cwtp_1" class="tabs__item">
                    <div class="price price--2">
                        <div class="price__row price__row--head">
                            <div class="price__col">день</div>
                            <div class="price__col price__col--colspan">
                                <span>Продолжительность занятия с тренером – 1
                                    час</span>
                            </div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Будний</div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=a8f739e7-46f1-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>750 ₽</span>
                                    <div class="price-withdescr__txt">Прыжки
                                        после занятия не включены в стоимость
                                    </div>
                                </div>
                            </div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=736e3245-46f2-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>850 ₽</span>
                                    <div class="price-withdescr__txt">1 час
                                        тренировки + безлимитные прыжки после
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Выходной</div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=a8f739e7-46f1-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>850 ₽</span>
                                    <div class="price-withdescr__txt">Прыжки
                                        после занятия не включены в стоимость
                                    </div>
                                </div>
                            </div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=736e3245-46f2-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>850 ₽</span>
                                    <div class="price-withdescr__txt">1 час
                                        тренировки + 1 час прыжков после
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price__foot">
                        <div class="price__foot__txt">Информация......</div>
                        <a href="ссылка..." class="button
                            button--hover-opacity">Подробнее</a>
                    </div>
                </div>
                <div id="cwtp_2" class="tabs__item active">
                    <div class="price price--2">
                        <div class="price__row price__row--head">
                            <div class="price__col">день</div>
                            <div class="price__col price__col--colspan">
                                <span>Продолжительность занятия с тренером – 1
                                    час</span>
                            </div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Будний</div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=df858262-4743-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>1000 ₽</span>
                                    <div class="price-withdescr__txt">Прыжки
                                        после занятия не включены в стоимость
                                    </div>
                                </div>
                            </div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=68e054c0-4745-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>1100 ₽</span>
                                    <div class="price-withdescr__txt">1 час
                                        тренировки + безлимитные прыжки после
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Выходной</div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=df858262-4743-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>1000 ₽</span>
                                    <div class="price-withdescr__txt">Прыжки
                                        после занятия не включены в стоимость
                                    </div>
                                </div>
                            </div>
                            <div class="price__col price__col--pr">
                                <div
                                    class="price-withdescr row-fl aic">
                                    <a
                                        href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=68e054c0-4745-11eb-bbe7-0050568342b3"
                                        class="button button--hover-blue
                                        price__buy">Оплатить</a>
                                    <span>1100 ₽</span>
                                    <div class="price-withdescr__txt">1 час
                                        тренировки + 1 час прыжков после
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price__foot">
                        <div class="price__foot__txt">Информация......</div>
                        <a href="ссылка..." class="button
                            button--hover-opacity">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Праздники и мероприятия-->
        <div id="tab_3" class="tabs__item">
            <div class="price price--3">
                <div class="price__row price__row--head">
                    <div class="price__col"></div>
                    <div class="price__col">1 тренер на 1 час</div>
                    <div class="price__col">1 тренер на 2 часа</div>
                    <div class="price__col">2 тренера на 1 час</div>
                </div>
                <div class="price__row">
                    <div class="price__col">
                        <div class="holiday-col">
                            <div class="holiday-col__title">Тренер/Аниматор<span
                                    class="holiday-col__label">.3+</span></div>
                            <div class="holiday-col__txt">На день рождения,
                                Праздник, Корпоратив, Выпускной, Квест
                                <a href="#" class="button button--hover-blue
                                    holiday-col__button">Подобрать</a>
                            </div>
                        </div>
                    </div>
                    <div class="price__col price__col--pr">2500 ₽<a
                            href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=6019f4a3-474d-11eb-bbe7-0050568342b3"
                            class="button button--hover-blue price__buy">Оплатить</a></div>
                    <div
                        class="price__col price__col--pr">5000 ₽<a
                            href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=06cdfa73-474e-11eb-bbe7-0050568342b3"
                            class="button button--hover-blue price__buy">Оплатить</a></div>
                    <div
                        class="price__col price__col--pr">5000 ₽<a
                            href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=06cdfa73-474e-11eb-bbe7-0050568342b3"
                            class="button button--hover-blue price__buy">Оплатить</a></div>
                </div>
                <div class="price__row price__row--head">
                    <div class="price__col"></div>
                    <div class="price__col">1 тренер на 1 час</div>
                    <div class="price__col">1 тренер на 2 часа</div>
                    <div class="price__col">2 тренера на 1 час</div>
                </div>
                <div
                    class="price__row">
                    <div class="price__col">
                        <div class="holiday-col">
                            <div class="holiday-col__title">Игра в кальмара<span
                                    class="holiday-col__label">.8+</span></div>
                            <div class="holiday-col__txt">Подходит на любой
                                праздник взрослым и детям
                            </div>
                        </div>
                    </div>
                    <div class="price__col price__col--pr">3000 ₽<a
                            href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=442d1520-57f5-11ec-a082-0050568369e4"
                            class="button button--hover-blue price__buy">Оплатить</a></div>
                    <div
                        class="price__col price__col--pr">6000 ₽</div>
                    <div
                        class="price__col price__col--pr">6000 ₽</div>
                </div>
                <div class="price__row price__row--head">
                    <div class="price__col"></div>
                    <div class="price__col">1 тренер на 1 час</div>
                    <div class="price__col">1 тренер на 2 часа</div>
                    <div class="price__col">2 тренера на 1 час</div>
                </div>
                <div
                    class="price__row">
                    <div class="price__col">
                        <div class="holiday-col">
                            <div class="holiday-col__title">Квестс Хагги Вагги<span
                                    class="holiday-col__label">.5+</span></div>
                            <div class="holiday-col__txt">Подходит на любой
                                праздник взрослым и детям
                            </div>
                        </div>
                    </div>
                    <div class="price__col price__col--pr">3000 ₽<a
                            href="http://batutparty.ru/lk/?club_id=acdbdb12-1823-11ea-bbc0-0050568bac14&amp;getShopFormReg=Y&amp;id=dd7955bc-2ebf-11ed-6c82-0050568369e4"
                            class="button button--hover-blue price__buy">Оплатить</a></div>
                    <div
                        class="price__col price__col--pr">6000 ₽</div>
                    <div
                        class="price__col price__col--pr">6000 ₽</div>
                </div>
            </div>
            <div
                class="price__foot">
                <div class="price__foot__txt">Информация......</div>
                <a href="ссылка..." class="button button--hover-opacity">Подробнее</a>
            </div>
        </div>
        <!--Абонемент-->
        <div id="tab_4" class="tabs__item active">
            <div class="tabs child-tabs">
                <ul class="tabs-menu row-fl jcsb">
                    <li class="tabs-menu__item tabs-menu__item--row active"
                        data-tab="ssp_1">Посещения</li>
                    <li class="tabs-menu__item tabs-menu__item--row"
                        data-tab="ssp_2">Занятия и тренировки</li>
                </ul>
                <div id="ssp_1" class="tabs__item active">
                    <div class="price price--4">
                        <div class="price__row price__row--head">
                            <div class="price__col"></div>
                            <div class="price__col">День</div>
                            <div class="price__col">Продолжительность</div>
                            <div class="price__col">Стоимость</div>                            
                        </div>
                        <div class="price__row price__row--border">
                            <div class="price__col price__col--head
                                price__col--rowspan"><span>На 15 посещений
                                    Батутной Арены</span>
                            </div>
                            <div class="price__col price__col--valign
                                price__col--txt1">любой день<br></div>
                            <div class="price__col price__col--valign
                                price__col--txt2">1 час<br></div>
                            <div class="price__col price__col--valign price__col--pr">
                                <span>4500 ₽</span>
                                <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                            </div>                            
                        </div>
                        <div class="price__row price__row--border">
                            <div class="price__col price__col--head"></div>
                            <div class="price__col price__col--valign
                                price__col--txt1">будний<br>выходной</div>
                            <div class="price__col price__col--valign
                                price__col--txt2">безлимимт<br>2 часа</div>
                            <div class="price__col price__col--valign price__col--pr">
                                <span>7500 ₽</span>
                                <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                            </div>                            
                        </div>
                        <div class="price__row price__row--head">
                            <div class="price__col"></div>
                            <div class="price__col">День</div>
                            <div class="price__col">Продолжительность</div>
                            <div class="price__col">Стоимость</div>                            
                        </div>
                        <div class="price__row price__row--border">
                            <div class="price__col price__col--head
                                price__col--rowspan"><span>На 15 посещений
                                    Батутной Арены и Детской Зоны</span>
                            </div>
                            <div class="price__col price__col--valign
                                price__col--txt1">любой день<br></div>
                            <div class="price__col price__col--valign
                                price__col--txt2">1 час<br></div>                            
                            <div class="price__col price__col--valign price__col--pr">
                                <span>6000 ₽</span>
                                <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                            </div>
                        </div>
                        <div class="price__row price__row--border">
                            <div class="price__col price__col--head"></div>
                            <div class="price__col price__col--valign
                                price__col--txt1">будний<br>выходной</div>
                            <div class="price__col price__col--valign
                                price__col--txt2">безлимимт<br>2 часа</div>                            
                            <div class="price__col price__col--valign price__col--pr">
                                <span>9000 ₽</span>
                                <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                            </div>
                        </div>
                    </div>
                    <div class="price__foot">
                        <div class="price__foot__txt">Информация......</div>
                        <a href="ссылка..." class="button
                            button--hover-opacity">Подробнее</a>
                    </div>
                </div>
                <div id="ssp_2" class="tabs__item">
                    <div class="price price--4">
                        <div class="price__row price__row--head">
                            <div class="price__col"></div>
                            <div class="price__col">День</div>
                            <div class="price__col">Продолжительность</div>
                            <div class="price__col">Стоимость</div>                            
                        </div>
                        <div class="price__row price__row--border">
                            <div class="price__col price__col--head"><span>Абонемент
                                    на 4 групповых занятий</span>
                            </div>
                            <div class="price__col price__col--valign
                                price__col--txt1"><span>Будние</span><br><span>Выходной</span></div>
                            <div class="price__col price__col--valign
                                price__col--txt2"><span>1 час тренировки +
                                    безлимит прыжков</span><br><span>1 час
                                    тренировки + 1 час прыжков после</span></div>
                            <div class="price__col price__col--valign price__col--pr">
                                <span>3000 ₽</span>
                                <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                            </div>                            
                        </div>
                        <div class="price__row price__row--head">
                            <div class="price__col"></div>
                            <div class="price__col">День</div>
                            <div class="price__col">Продолжительность</div>
                            <div class="price__col">Стоимость</div>                            
                        </div>
                        <div class="price__row price__row--border">
                            <div class="price__col price__col--head"><span>Абонемент
                                    на 8 групповых занятий</span>
                            </div>
                            <div class="price__col price__col--valign
                                price__col--txt1"><span>Будние</span><br><span>Выходной</span></div>
                            <div class="price__col price__col--valign
                                price__col--txt2"><span>1 час тренировки +
                                    безлимит прыжков</span><br><span>1 час
                                    тренировки + 1 час прыжков после</span></div>
                            <div class="price__col price__col--valign price__col--pr">
                                <span>5600 ₽</span>
                                <a href="" class="button button--hover-blue price__buy price__buy--static">Оплатить</a>
                            </div>
                        </div>
                    </div>
                    <div class="price__foot">
                        <div class="price__foot__txt">Информация......</div>
                        <a href="ссылка..." class="button
                            button--hover-opacity">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Товары-->
        <div id="tab_5" class="tabs__item">
            <div class="tabs child-tabs">
                <ul class="tabs-menu row-fl">
                    <li class="tabs-menu__item  active" data-tab="ftab_1">товары</li>
                    <li class="tabs-menu__item" data-tab="ftab_2">занятия
                        и тренировки
                    </li>
                </ul>
                <div id="ftab_1" class="tabs__item active">
                    <div class="price price--5">
                        <div class="price__row">
                            <div class="price__col price__col--img">
                                <div class="price__img">
                                    <img class="fit-cover" src="img/product.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="price__col price__col--head">Носки для
                                прыжков на батуте
                            </div>
                            <div class="price__col price__col--pr">250 ₽
                                <a href="" class="button button--hover-blue
                                    price__buy">Оплатить</a>
                            </div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--img">
                                <div class="price__img">
                                    <img class="fit-cover" src="img/product.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="price__col price__col--head">Носки для
                                прыжков на батуте
                            </div>
                            <div class="price__col price__col--pr">250 ₽</div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--img">
                                <div class="price__img">
                                    <img class="fit-cover" src="img/product.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="price__col price__col--head">Носки для
                                прыжков на батуте
                            </div>
                            <div class="price__col price__col--pr">250 ₽</div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--img">
                                <div class="price__img">
                                    <img class="fit-cover" src="img/product.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="price__col price__col--head">Носки для
                                прыжков на батуте
                            </div>
                            <div class="price__col price__col--pr">250 ₽</div>
                        </div>
                    </div>
                </div>
                <div id="ftab_2" class="tabs__item">
                    <div class="price  price--5">
                        <div class="price__row">
                            <div class="price__col price__col--head">
                                Аренда
                                Комнаты для Праздника
                                <div class="price__descr">Бронируется не менее
                                    чем за день до начала мероприятия.
                                </div>
                            </div>
                            <div class="price__col price__col--pr">1 000 ₽</div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Шоу
                                фокусника
                                <span class="price__dop">(25-35 мин.)</span>
                            </div>
                            <div class="price__col price__col--pr">1 000 ₽
                                <a href="" class="button button--hover-blue
                                    price__buy">Оплатить</a>
                            </div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Шоу мыльных
                                пузырей
                                <span class="price__dop">(25-35 мин.)</span>
                            </div>
                            <div class="price__col price__col--pr">1 000 ₽</div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Тесла шоу
                                <span class="price__dop">(25-35 мин.)</span>
                            </div>
                            <div class="price__col price__col--pr">1 000 ₽</div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Бумажное
                                шоу
                                <span class="price__dop">(25-35 мин.)</span>
                            </div>
                            <div class="price__col price__col--pr">1 000 ₽</div>
                        </div>
                        <div class="price__row">
                            <div class="price__col price__col--head">Научное шоу
                                <span class="price__dop">(25-35 мин.)</span>
                            </div>
                            <div class="price__col price__col--pr">1 000 ₽</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>