<div class="slider">
    <a href="" class="slider__item">
        <img src="img/about_img1.jpg" alt="" class="fit-cover">
        <div class="slider__item__cnt">
            <div class="slider__item__title">85 батутов</div>
            <div class="slider__item__txt">
                <div>
                    <p>При строительстве батутной арены, для тех, кто только осваивает прыжки на батутах.мы сделали максимально удобные и безопасные для комфортных прыжков  батуты.</p>
                </div>                
            </div>
        </div>        
    </a>
    <div class="slider__item">
        <img src="img/about_img2.jpg" alt="" class="fit-cover">
        <span>скалодром</span>
    </div>
    <div class="slider__item">
        <img src="img/about_img3.jpg" alt="" class="fit-cover">
        <span>кафе гравитация</span>
    </div>
    <div class="slider__item">
        <img src="img/about_img4.jpg" alt="" class="fit-cover">
        <span>VR-комната</span>
    </div>
    <div class="slider__item">
        <img src="img/about_img1.jpg" alt="" class="fit-cover">
        <span>85 батутов</span>
    </div>
</div>