@import "variables";
@import "normalize";
@import "utils";
@import "fonts/fonts";
@import "text";
@import "layout";
@import 'slick-carousel/slick/slick';
@import '@fancyapps/fancybox/dist/jquery.fancybox.css';
@import "slider";
@import "tabs";
@import "schema";
@import "index_page";
@import "contact_page";
@import "pages";