.schema {
    position: relative;
    display: block;
    list-style: none; 
    margin-top: 2em;
    width: 87.5em;   
    height: 39.1em;
    background: 50% 50%/contain no-repeat url(../img/schema_bg.png);
    &__cnt {
        background-color: #EAEDF0;
        margin-top: 5.1em;
        padding-top: 2em;        
    }    
    svg {
        .bg { 
            fill: #BBC1C7;
            transition: fill .3s ease; 
        }
        .bt { 
            fill: #9ea3a9;
            transition: fill .3s ease;
        }
    }
    &__item {        
        position: absolute;  
        > span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;                
            padding: 0.7em 0.5em 0 1.2em;
            font-family: 'Montserrat';            
            font-weight: 600;
            font-size: em(12);
            line-height: 1.25;
            text-transform: uppercase;
            color: #FFF;
            &.pt {
                padding-top: 1.1em;
            }
            span {
                font-size: 0.66em;
                display: block; 
            }            
        }
        > img {
            margin:auto
        }
        &.active, &:hover {
            .bg { 
                fill: #47AC26; 
            }
            .bt { 
                fill: #292D32;
            }
        }
        &--hpink {
            &.active, &:hover {
                .bg { 
                    fill: #ed7960; 
                }
                .bt { 
                    fill: #292D32;
                }
            }
        }
        &--hyellow {
            &.active, &:hover {
                .bg { 
                    fill: #fef116; 
                }
                .bt { 
                    fill: #292D32;
                }
            }
        }
        &--hgray {
            &.active, &:hover {
                .bg { 
                    fill: #5b6471; 
                }
                .bt { 
                    fill: #292D32;
                }
            }
        }
        &--hpurple {
            &.active, &:hover {
                .bg { 
                    fill: #664f6c; 
                }
                .bt { 
                    fill: #292D32;
                }
            }
        }
        &--hblue {
            &.active, &:hover {
                .bg { 
                    fill: #4f6e9c; 
                }
                .bt { 
                    fill: #292D32;
                }
            }
        }
        &--1 {
            left: 16%;
            top: 3.2em;
            width: 5.7%;
            height: 4.5em;
        }
        &--2 {
            left: 22.3%;
            top: 3.2em;
            width: 6.4%;
            height: 4.5em;
        }
        &--3 {
            left: 29.3%;
            top: 3.2em;
            width: 17.9%;
            height: 16.2em;
        }
        &--4 {
            left: 47.7%;
            top: 3.2em;
            width: 14%;
            height: 13.4em;
        }
        &--5 {
            left: 62.1%;
            top: 3.2em;
            width: 13.1%;
            height: 8.9em;
        }
        &--6 {
            left: 16%;
            top: 8em;
            width: 12.6%;
            height: 11.5em;
        }
        &--7 {
            left: 22.3%;
            top: 8em;
            width: 6.4%;
            height: 7.7em;
        }
        &--8 {
            left: 47.7%;
            top: 17em;
            width: 14%;
            height: 2.5em;
        }
        &--9 {
            left: 62.1%;
            top: 12.5em;
            width: 13.1%;
            height: 7em;
            > span {
                padding-left:4.6em;
            }
        }
        &--10 {
            left: 65.5%;
            top: 16.7em;
            width: 4.6%;
            height: 2.7em;
        }
        &--11 {
            left: 70.6%;
            top: 16.7em;
            width: 4.6%;
            height: 2.7em;
            > span {
                padding:.5em 0 0 .5em;
            }
        }
        &--12 {
            left: 16%;
            top: 19.8em;
            width: 31.1%;
            height: 6.5em;
            > span {
                width:5.8em;
                left:50%;
                top:1.3em;
            }
        }
        &--13 {
            left: 47.7%;
            top: 19.8em;
            width: 14%;
            height: 16em;
        }
        &--14 {
            left: 65.5%;
            top: 19.8em;
            width: 9.7%;
            height: 5.2em;
        }
        &--15 {
            left: 16%;
            top: 26.5em;
            width: 19.6%;
            height: 2.6em;
        }
        &--16 {
            left: 36.1%;
            top: 26.5em;
            width: 11.1%;
            height: 9.3em;
        }
        &--17 {
            left: 65.5%;
            top: 25.3em;
            width: 9.7%;
            height: 5.4em;
        }
        &--18 {
            left: 16%;
            top: 29.4em;
            width: 19.6%;
            height: 6.3em;
        }
        &--19 {
            left: 70.6%;
            top: 33.4em;
            width: 4.6%;
            height: 2.7em;
        }
        &--20 {
            left: 81%;
            top: 33.4em;
            width: 4.6%;
            height: 2.7em;
        }
        &--21 {
            left: 75.7%;
            top: 3.2em;
            width: 13.1%;
            height: 27.5em;
            &::after {
                content: '';
                display: block;
                width: 8.8em;
                height: 6.9em;
                background: center/contain no-repeat url(../img/cafe_logo.png);
                position: absolute;
                top:9.6em;
                left: 1.6em;
            }
        }
        &--22 {
            left: 66.8%;
            top: 31.1em;
            width: 2.1%;
            height: 1.9em;
        }
        &--23 {
            left: 88%;
            top: 35.9em;
            > span {
                color: #292D32;
                padding: 0;
                &:hover {
                    color: #47AC26;
                }
            }            
            transform: rotate(-90deg);
        }
    }
    &-preview {
        display: none;
        position: relative;
        background-color: #FFF;
        border-radius: 30px;
        padding: 2.8em 3.4em;
        box-sizing: border-box;
        margin-top: 3.1em;
        align-items: center;
        &.active {
            display: flex;
        }        
        &__img {
            flex-shrink: 0;
            width: 41.7%;
            margin-right: 6.7%;
            overflow: hidden;
            border-radius: 20px;
        }
        &__txt {
            font-family: 'Montserrat';            
            font-weight: 600;
            font-size: em(20);
            line-height: 1.4;            
        }
        &::before {
            content: '';
            display: block;
            width: 6em;
            height: 3.6em;
            background: center/contain no-repeat url(../img/tail.svg);
            position: absolute;
            top: -3.5em;
            left: 51.6%;
        }
    }
}