.schedule {    
    margin-top: 3.6em;
    &__row {        
        position: relative;
        padding: 0 2em;
        &:nth-child(odd):not(:first-child) {
            background: #f8f8f8;
        }
    }        
    &__col {
        width: 11.1em;
        flex-shrink: 0;
    }
    &__date {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: em(12);        
        text-transform: uppercase;
        text-align: center;        
        span {
            margin-right: 2.3em;
        }
    }
    &__time {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: em(12);
        position: absolute;
        top: 2em;
        &--left {
            left: .5em;
        }
        &--right {
            right: .5em;
        } 
    }
    &__pagi {
        justify-content: center;
        margin-top: 3em;
    }
    &__button {
        background: none;
        border: none;
        text-transform: uppercase;
        font-style: normal;
        font-weight: 400;
        font-size: em(20);
        margin: 0 1.5em;
        cursor: pointer;
        svg {
            width: .9em;
            height: .8em;
            margin-right: .5em;
        }
        span + svg {
            transform: rotate(180deg);
            margin-right: 0;
            margin-left: .5em;
        }         
    }
    &__empty {
        text-align: center;
        font-size: 2.4em;
        color: $tarawera_color;
    }
}
.appointment {
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat';
    border: 1px solid #BABABA;
    border-radius: 20px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 1.4em .9em 1.1em 1em;    
    margin-top: .5em;
    cursor: pointer;       
    &__time {        
        font-size: em(16);
        margin-bottom: 0.5em;
    }
    &__duration {        
        font-size: em(10);        
        text-transform: uppercase;
        color: #ADAEB1;
        margin-bottom: 1em;
    }
    &__title {
        font-weight: 600;
        font-size: em(14);
        line-height: 1.21;
        margin-bottom: 0.6em;
    }
    &__employee {
        font-size: em(12);
        margin-bottom: 1.2em;     
    }
    &__room {        
        font-size: em(12);
        color: $persian_green_color;
        margin-bottom: 1em;
        svg {
            width: .8em;
            height: .9em;
        }
    }
    &__capacity {
        font-size: em(12);
        color: #B7B8BA;
    }
    &::after {
        content: "записаться";
        font-family: 'Bebas Neue';            
        font-size: em(26);
        color: #fff;
        width: 100%;
        height: 100%;
        background-color: $anzac_color;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity .3s ease;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
}