.tabs {    
    position: relative;
    transition: min-height 0s ease 0s;
    &-menu {
        width: 100%;
        list-style: none;
        font-family: 'Montserrat';            
        &__item {
            position: relative;
            text-transform: uppercase;
            cursor: pointer;            
        }
        &__label {
            background-color: $anzac_color;
            color: #fff;
            border-radius: 100px;
            position: absolute;
            left: calc(100% - 5em);
            white-space: nowrap;
            top: 1px;
            font-size: 0.5em;
            display: block;
            line-height: 2.1;
            padding: 2px;
        }
        &--wrap {
            flex-wrap: wrap;
        }       
    }
    &__container {
        position: relative;
    }
    &__item {
        position: absolute;
        left: -2000px;        
        width: 100%;
        box-sizing: border-box;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s ease 0s,opacity .25s ease 0s;        
        &.active {
            left: 0;
            opacity: 1;
            visibility: visible;
        }        
    }
}
.parent-tabs {
    min-height: 581px;
    > .tabs-menu {
        align-items: end;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 0.9em;
        font-weight: 700;
        font-size: em(22);
        line-height: 1.22;
        color: #fff;
        li {
            &:not(:last-child) {
                margin-right: 5em;
            }           
            &:hover, &.active {
                color: $anzac_color;
            }
        }   
    }
    > .tabs__item  {
        top: 9em;
        background: #FFFFFF;
        border-radius: 30px;
        padding: 3em 3em 0 3em;
    }                
}
.child-tabs {
    min-height: 394px;
    > .tabs-menu {
        font-weight: 700;
        font-size: em(20);
        justify-content: center;
        li {            
            border-radius: 40px;
            padding: 1.1em 2em 1em 2em;
            color: $tarawera_color;
            &:not(:last-child) {
                margin-right: 1em;
            }
            &:hover, &.active {
                background-color: $anzac_color;
                color: #fff;
                .tabs-menu__label {
                    display: none;
                }
            }
            &.tabs-menu__item--min {
                margin-right: 0;
                padding: 1.1em;
            }
        }
    }
    > .tabs__item  {
        top: 4.8em;
    }
}
.price {    
    display: table;
    width: 100%;
    margin: 0 auto 2em auto;
    font-family: 'Montserrat';
    border-collapse: collapse;
    color: $tarawera_color;
    &__foot {
        position: relative;        
        padding-top: 2.2em;
        background: $persian_green_color;
        color: #fff;
        text-align: center;
        margin: 0 -3em;
        &__txt {
            font-family: 'Montserrat';
            font-size: em(24);
            font-weight: 400;
            padding-bottom: 1em;
            &::before, &::after {
                content: '';
                display: block;
                width: 30px;
                height: 30px;
                border-radius: 0 0 0 30px;
                background: #fff;
                position: absolute;
                left: 0;
                top: -30px;
                z-index: 1;
            }
            &::after {
                left: auto;
                right: 0;
                border-radius: 0 0 30px 0;
            }
        }
        &::before, &::after {
            content: '';
            display: block;
            width: 30px;
            height: 30px;                
            background: $persian_green_color;
            position: absolute;
            left: 0;
            top: -30px;
        }
        &::after {
            left: auto;
            right: 0;
        }
        
    }
    &__bg {
        background: #00394F;
        padding-top: 4.8em;
        padding-bottom: 6.7em;
        .price__foot {            
            background: #00394F;
            &::before, &::after {                               
                background: #00394F;                
            }
        }
    }
    &__row {
        display: table-row;
        &--head {
            font-weight: 300;
            font-size: em(18);
        }
        &--border {
            &:not(:last-child) {
                border-bottom: 1px solid #D9D9D9;
            }            
        }       
    }
    &__col {
        position: relative;
        display: table-cell;
        padding: 1em;
        &--valign {
            vertical-align: middle;
        }
        &--txt1 {
            font-weight: 500;
            font-size: em(24);
            line-height: 1.2;
        }
        &--txt2 {
            font-weight: 500;
            font-size: em(20);
            line-height: 1.2;
            white-space: nowrap;
        }        
        &--head {
            font-weight: 500;
            font-size: em(30);
        }
        &--pr {
            font-style: italic;
            font-weight: 700;
            font-size: em(30);
            span {
                white-space: nowrap;
            }
        }
        &--colspan {
            span {
                position: absolute;
                left: 0;
                width: 200%;
            }
        }
        &--rowspan {
            width: 10em;
            span {
                background: #fff;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 200%;
                display: flex;
                align-items: center;
            }
        }
        &--img {
            ~ .price__col {
                vertical-align: middle;
                .price__buy {
                    top: 3.6em;
                }
            }
        }
    }
    &__img {
        overflow: hidden;
        height: 5.3em;
        width: 7.2em;
        border-radius: 20px;
    }
    &__buy {
        position: absolute;
        top: 3.3em;
        left: 0.9em;
        padding: 0.3em 1em;
        font-size: 0.7em;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        font-family: "Bebas Neue", sans-serif;
        &--static {
            position: static;
        }
    }
    &__descr {
        font-size: 0.585em;
        padding-top: 0.5em;
    }
    &__dop {
        font-style: italic;
        font-weight: 300;
        font-size: 0.8em;
    }    
}
.price-withdescr {
    display: flex;
    span {
        flex-shrink: 0;
    }
    &__txt {
        font-style: normal;
        font-weight: 300;
        font-size: .6em;
        line-height: 1.22;
        padding-left: 1em;
    }
}
.holiday-col {
    width: 20em;   
    &__title {
        display: inline-block;
        position: relative;
        font-weight: 500;
        font-size: em(30);
        padding-bottom: 0.5em;
    }
    &__label {
        position: absolute;
        color: #fff;
        display: block;
        background: $anzac_color;
        border-radius: 100px;
        right: -1.6em;
        top: -1.1em;
        font-size: 0.5em;
        padding: 0.3em;
    }
    &__txt {
        font-weight: 300;
        font-size: em(18);
        line-height: 1.22;
        padding-bottom: .6em;
    }
    &__button {
        font-size: em(20);
        font-style: normal;
        text-transform: uppercase;
        font-family: "Bebas Neue", sans-serif;
        padding: 0.3em 1.8em;
    }
}