$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{calc($pixels / $context)}em;
}

* {
  margin: 0;
  padding: 0;
  outline: none;  
}
html {
  font-size: $browser-context;
}
body {
  font-family: 'Bebas Neue', sans-serif;  
}
input,
img,
svg {
  max-width: 100%;
  max-height: 100%;
}
input[type=number] {
-moz-appearance: textfield;
&::-webkit-outer-spin-button,
&::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
}
.container-fl {
  width: $base_width;
  margin: 0 auto;
}
.row-fl {
  display: flex;
}
.col-fl {
  width: 100%;
}
.jcsb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
[class^="fit-"] {
  width: 100%;
  height: 100%;
}
.fit-contain {
  object-fit: contain;
}
.fit-cover {
  object-fit: cover;
}
.background-image {
  background-repeat: no-repeat;
  background-position: center;
}
.pt {
  &--3 {
      padding-top: 3em;
  }
  &--4 {
      padding-top: 4em;
  }
}
.pb {
  &--7 {
    padding-bottom: 7em;
  }
}
.mb {
  &--11 {
    margin-bottom: 1.1em;
  }
}
